extends ../layout.pug 

block variables
  - const title = "Menu"

block content
  div
    h1 Découvrez nos menus
    each menu in menus
      div 
        h4= menu.nom
        p Prix : #{menu.prix} €
        a(href=`/menus/${menu.id}`) En savoir plus →
        hr
      