block variables
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Project Node
        block styles
            link(rel="stylesheet" href="/styles/pico.min.css")
            link(rel="stylesheet" href="/styles/app.css")
        body
            main.container
                block body
                    nav
                        ul.left
                            li
                                a(href="/") Home
                            li
                                a(href="/menus") Menus 
                        ul.right
                            li
                                a(href="/burgers") Burgers
                            li
                                a(href="/boissons") Boissons
                            li
                                a(href="/accompagnements") Accompagnements
                    block content
                block scripts
                    script(src="/scripts/app.js")
